@use "./variables";

@mixin borderWithBackground($bgColor) {
  border: 1px solid $color-red;
  background-color: $bgColor;
}

@mixin blockFonts($size, $color, $family) {
  font-size: $size;
  color: $color;
  font-family: $family;
}


@mixin corner-icon($name, $top-or-bottom, $left-or-right) {

  .icon-#{$name} {
    background-image: url("/icons/#{$name}.svg");
    position: absolute;
    #{$top-or-bottom}: 0;
    #{$left-or-right}: 0;
  }

}


@mixin fontFamily {
  font-family: 'Montserrat';
  font-style: normal;
}

@mixin fontWeight700 {
  font-weight: 700;
}

@mixin fontWeight500 {
  font-weight: 500;
}

@mixin h1 {
  @include fontFamily;
  @include fontWeight700;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
}

@mixin h2 {
  @include fontFamily;
  @include fontWeight700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}


@mixin menu {
  @include fontFamily;
  @include fontWeight500;
  font-size: 20px;
  line-height: 24px;
}

@mixin prodName {
  @include fontFamily;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@mixin price {
  @include fontFamily;
  @include fontWeight700;
  font-size: 24px;
  line-height: 29px;
}

@mixin button-text {
  @include fontFamily;
  @include fontWeight500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

@mixin button {
  width: 227px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include button-text;
  color: white;
  border: 2px solid $brown-light;
  cursor: pointer;
}