@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

@import "./reset";
@import "./variables";
@import "./mixins";
@import "./responsive";


@mixin font($fm, $fs, $fw, $col) {
   font-family: $fm;
   font-size: $fs;
   font-weight: $fw;
   color: $col;
}

@mixin rwd($min, $max) {
   @media (min-width: $min) and (max-width: $max) {
      @content;
   }
}

ul {
   text-decoration: none;
}


// .open{
//    display: flex !important;
// }

// .header{
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    min-height: 100px;
//    background-color: #3E424B;
//    color: #FAF6F2;
//    padding: 0 40px;
// }

// .nav{
//    display: flex;
//    width: 700px;
//    padding: 0 40px;
// }

// .nav ul{
//    width: 100%;
//    list-style: none;
//    display: flex;
//    justify-content: space-between;
// }

// .burger{
//    display: none;
//    position: relative;
//    z-index: 50;
//    align-items: center;
//    justify-content: flex-end;
//    width: 30px;
//    height: 18px;
// }

// .burger span{
//    height: 2px;
//    width: 80%;
//    transform: scale(1);
//    background-color: #FAF6F2;
// }

// .burger::before, .burger::after{
//    content: '';
//    position: absolute;
//    height: 2px;
//    width: 100%;
//    background-color: #FAF6F2;
//    transition: all 0.3s ease 0s;
// }

// .burger::before { top: 0 }

// .burger::after { bottom: 0 }

// .burger.active span { transform: scale(0) }

// .burger.active::before{
//    top: 50%;
//    transform: rotate(-45deg) translate(0, -50%);
// }

// .burger.active::after{
//    bottom: 50%;
//    transform: rotate(45deg) translate(0, 50%);
// }

// @media (max-width: 900px) {

//    .burger { display: flex }

//    .nav{
//        display: none;
//        flex-direction: column;
//        position: fixed;
//        height: 300px;
//        width: 576px;
//        top: 0; bottom: 0; left: 0; right: 0;
//        z-index: 50;
//        padding-top: 20px;
//        overflow-y: auto;
//        background-color: black;
//        animation: burgerAnimation 0.4s;
//    }

//    .nav ul{
//        flex-direction: column;
//        row-gap: 30px;
//    }
// }

// @keyframes burgerAnimation {
//    from {opacity: 0}
//    to {opacity: 1}
// }


.wrapper {
   max-width: 1360px;
   padding-right: 110px;
   padding-left: 110px;
   margin: 0 auto;

   @include lg {
      max-width: 1024px;
      padding-right: 32px;
      padding-left: 32px;
   }

   @include md {
      max-width: 768px;
      padding-right: 24px;
      padding-left: 24px;
   }

   @include sm {
      max-width: 576px;
      padding-right: 18px;
      padding-left: 18px;
   }
}

.icon {
   fill: black;

   &:hover {
      fill: #5373FD;

   }
}

.first {
   width: 100%;
   background-image: url(/img/bg/HeaderBackgroundbg1.jpg);
   height: 862px;
   background-size: cover;
   display: flex;
   justify-content: center;

   .first__title {
      @include h1tl;
      margin-top: 295px;
      text-align: center;
   }

   .first__untitle {
      @include firuntit;
      margin-top: 8px;
      text-align: center;
      letter-spacing: 0.31em;
      margin-bottom: 48px;
   }


   .search-form {
      background-color: $color1;
      display: flex;
      width: 647px;
      height: 60px;
      justify-content: space-between;
      align-items: center;
      padding-left: 36px;
      padding-right: 4px;
      margin-bottom: 211px;


      &:hover {
         border: 2px solid $color2;
      }

      .searh-form__txt {
         display: flex;
         width: 275px;
         border: none;
         outline: none;
         @include searhtxt;
      }

      .searh-form__btn {
         display: flex;
         gap: 10px;
         align-items: center;
         justify-content: center;
         background-color: $color2;
         padding: 16px 24px;
         width: 139px;
         height: 52px;
         @include searhbtn;
         opacity: 0.9;
         cursor: pointer;

         &:hover {
            opacity: 1;
         }
      }
   }

   .first__scroll {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      @include searhbtn;
      letter-spacing: 0.2em;
   }
}