@import "./reset";
@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.button {
  @include button;
  background-color: transparent;
}

.button:hover {
  background-color: $tomato-light;
  border: 0px;
  color: white;
}

.header-bg {
  width: 100%;
  background-color: $brown-light;
}

.header {
  max-width: 1400px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .header__menu {
    display: flex;

    .header__menu__item {
      width: 90px;
      @include menu;
      display: flex;
      justify-content: center;
      height: 80px;
      align-items: center;
      cursor: pointer;

    }
  }

  .header__icons {
    display: flex;
    gap: 30px;
    color: black;
  }
}

.header__menu__item:hover {
  background-color: $tomato-light;
}

.slider-back {
  position: relative;


  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .slick-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 50px;
    gap: 30px;
    z-index: 999;
  }

  .slick-dots button {
    background: $dot-inactive;
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    outline: none;
  }

  .slick-dots li[class="slick-active"] button {
    background: $tomato-light;
  }

  .slick-dots li {
    display: inline-block;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li button:focus:before,
  .slick-dots li button:hover:before {
    display: none;
  }

  .slider-back-tog {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
  }

  .slider-back__1 {
    background-image: url('img/firstsec/imagefirst.svg');
  }

  .slider-back__2 {
    background-image: url('img/firstsec/imagesecond.svg');
  }

  .slider-back__3 {
    background-image: url('img/firstsec/imagethird.svg');
  }

  .slider-back__content {
    max-width: 1400px;
    padding-top: 120px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;

    .template {
      display: flex;
      flex-direction: column;
      align-items: center
    }

    .slider-back__content__title {
      @include h1;
      color: $brown-light;
      max-width: 400px;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.products {
  margin: 0px auto;
  margin-top: 70px;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .products__title {
    @include h2;
    margin-bottom: 50px;
    text-align: center;
  }

  .products__list {
    .products__list__item {
      width: 224px;
      height: 437px;
      border: 1px solid $brown-light;
      margin: 10px;
      cursor: pointer;

      .products__item__card {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .products__item__status {
        width: 60px;
        height: 20px;
        background-color: $tomato-light;
        @include button-text;
        font-size: 10px;
        text-align: center;
        color: $brown-light;
      }

      .products__card__img {
        margin-bottom: 18px;
      }

      .products__card__par {
        @include prodName;
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
      }

      .products__card__price {
        @include price;
        text-align: center;
      }
    }
  }

  .products__list__item:hover {
    border: 1px solid $tomato-light;
  }

  .products__btn {
    color: $black;
    border: 1px solid $black;
    margin-top: 50px;
  }

  .products__btn:hover {
    color: white;
    border: 0px;
  }

}