@font-face {
    font-family: 'Francois One';
    src: url('FrancoisOne-Regular.woff2') format('woff2'),
        url('FrancoisOne-Regular.woff') format('woff'),
        url('FrancoisOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

