@font-face {
    font-family: 'Farro';
    src: url('Farro-Medium.woff2') format('woff2'),
        url('Farro-Medium.woff') format('woff'),
        url('Farro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: url('Farro-Bold.woff2') format('woff2'),
        url('Farro-Bold.woff') format('woff'),
        url('Farro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: url('Farro-Light.woff2') format('woff2'),
        url('Farro-Light.woff') format('woff'),
        url('Farro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Farro';
    src: url('Farro-Regular.woff2') format('woff2'),
        url('Farro-Regular.woff') format('woff'),
        url('Farro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

