@import "./reset";
@import "./variables";
@import "./mixins";
@import "./responsive";


.clock-block{
   width: 100%;
   padding-top: 50px;
   margin: 0 auto;
}

.clock-wrapper{
   width: 100%;
   padding-top: 50px;
   display: flex;
   gap: 100px;
   
}

.clock-block__btn{
   cursor: pointer;
}